   
.cart{
    width: 400px;
    height: fit-content;
    background-color: black;
    color: white;
    margin-bottom: 40px;
   margin-left: 450px;
   padding: 20px;
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
   border: 1px solid #ccc;
}


.main{
    width: 100%;
    min-height: 900px;   
    left: 0%;
    right: 0%;
    top: 10px;
    background-color: grey;
    padding-top: 100px;
    position: relative;

}

.product{
    width: 500px;
    height: auto;
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    color: black;
    margin-top: 20px;
}

